node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
bin/
obj/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
mobile/build/
mobile/ios/Pods/
mobile/.symlinks/
mobile/android/.gradle/
*.iml
